.navlogo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  font-weight: 500;
  flex-direction: column;
  margin-top: 10px;
}

.navlogo:hover {
  cursor: pointer;
  background-color: #ff9900;
  border-radius: 50px 50px 0 0;
  padding: 5px;
  transition: 0.5s;
  color: white;
}

.navlogo img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 500px) {
  .navlogo img {
    width: 20px;
    height: 20px;
  }

  .navlogo {
    font-size: 10px;
    gap: 3px;
  }
}
