@font-face {
  font-family: "tangerine";
  src: url("../../assets/font/Tangerine-Regular.ttf") format("truetype");
}

.card_1-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.card_1-title {
  text-align: center;
  font-family: "tangerine";
  font-size: 80px;
  width: 600px;
  margin-top: 70px;
}

.card_1-button {
  margin-top: 30px;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: gray;
  color: white;
}

.card_1-button:hover {
  background-color: black;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 10px black;
}

.card_1 {
  height: 400px;
  width: 250px;
  border: solid 1px white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.card_1:hover {
  box-shadow: 0 0 10px black;
  transition: 0.5s;
  cursor: pointer;
}

.card_1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_1-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
