.navbar {
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  color: #ff9900;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 500px) {
  .navbar {
    font-size: 12px;
    gap: 10px;
  }
}