.footer-container {
  background-color: #404040;
  color: #fff;
  line-height: 35px;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}

.footer-link a {
  text-decoration: none;
  color: #fff;
}

.footer-link a:hover {
  color: #ff9900;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
  font-size: 20px;
}

.footer-contact h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-map iframe {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

.footer-copyright {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-around;
}

.footer-copyright p {
  font-size: 13px;
}

.footer-icon a {
  margin-right: 10px;
}

.footer-icon img {
  width: 30px;
  height: 30px;
}

.footer-icon img:hover {
  cursor: pointer;
  transition: 0.5s;
  width: 35px;
  height: 35px;
  background-color: #ff9900;
  border-radius: 50%;
  padding: 5px;
}
